### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Files to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())

#Calculate the total number of students and format value
total_students = school_data_complete["student_name"].count()
formatted_total_students = "{:,.0f}".format(total_students)

#Calculate the total budget and format value
#need to get unique budget per school as it is duplicated when tables merged
total_budget_per_school = school_data_complete.groupby("school_name")["budget"].unique()
total_budget = total_budget_per_school.sum()
formatted_total_budget = "${:,.0f}".format(total_budget[0])

#Calculate the average maths score and format value
avg_maths_score = school_data_complete["maths_score"].mean()
formatted_avg_maths_score="{:.2f}".format(avg_maths_score)

#Calculate the average reading score and format value
avg_reading_score = school_data_complete["reading_score"].mean()
formatted_avg_reading_score="{:.2f}".format(avg_reading_score)
                                          
#Calculate the percentage of students with a passing maths score (50 or greater) and format value
percent_passing_maths = (len(school_data_complete[school_data_complete["maths_score"] >= 50]) / total_students) * 100
formatted_percent_passing_maths = "{:.2f}%".format(percent_passing_maths)
                                            
#Calculate the percentage of students with a passing reading score (50 or greater) and format value
percent_passing_reading = (len(school_data_complete[school_data_complete["reading_score"] >= 50]) / total_students) * 100
formatted_percent_passing_reading = "{:.2f}%".format(percent_passing_reading)
                                            
#Calculate the percentage of students who passed maths and reading (% Overall Passing) and format value
total_students_passboth = (len(school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]) / total_students) * 100
formatted_total_students_passboth = "{:.2f}%".format(total_students_passboth)
                                            
#Create area_summary dataframe to hold the above results
df_area_summary = pd.DataFrame({"Total Schools":[total_schools], 
                                 "Total Students":[formatted_total_students],
                                 "Total Budget":[formatted_total_budget],
                                 "Average Maths Score":[formatted_avg_maths_score],
                                 "Average Reading Score":[formatted_avg_reading_score],
                                 "% Passing Maths":[formatted_percent_passing_maths],
                                 "% Passing Reading":[formatted_percent_passing_reading],
                                 "% Overall Passing":[formatted_total_students_passboth]})
#display area_summary
df_area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# Get unique list of school names
unique_school_names = school_data_complete["school_name"].unique()

# Create a dictionary with empty lists for each column
data = {
    'School Name': [],
    'School Type': [],
    'Total Students': [],
    'Total School Budget': [],
    'Per Student Budget': [],
    'Average Maths Score': [],
    'Average Reading Score': [],
    '% Passing Maths': [],
    '% Passing Reading': [],
    '% Overall Passing': []
}

# Iterate through each school name
for school_name in unique_school_names:
    # Filter the data for the current school
    school_data = school_data_complete[school_data_complete["school_name"] == school_name]
    
    # Calculate the required values for the current school
    total_students = school_data["student_name"].count()
    school_type = school_data["type"].iloc[0]
    total_budget = school_data["budget"].iloc[0]
    per_student_budget = total_budget / total_students
    avg_maths_score = school_data["maths_score"].mean()
    avg_reading_score = school_data["reading_score"].mean()
    percent_passing_maths = (len(school_data[school_data["maths_score"] >= 50]) / total_students) * 100
    percent_passing_reading = (len(school_data[school_data["reading_score"] >= 50]) / total_students) * 100
    percent_overall_passing = (len(school_data[(school_data["maths_score"] >= 50) & (school_data["reading_score"] >= 50)]) / total_students) * 100
    
    # Append the values to the respective columns in the data dictionary
    data['School Name'].append(school_name)
    data['School Type'].append(school_type)
    data['Total Students'].append(total_students)
    data['Total School Budget'].append(total_budget)
    data['Per Student Budget'].append(per_student_budget)
    data['Average Maths Score'].append(avg_maths_score)
    data['Average Reading Score'].append(avg_reading_score)
    data['% Passing Maths'].append(percent_passing_maths)
    data['% Passing Reading'].append(percent_passing_reading)
    data['% Overall Passing'].append(percent_overall_passing)

# Create the dataframe using the data dictionary
df_per_school_summary = pd.DataFrame(data)

# Set the 'School Name' column as the index
df_per_school_summary = df_per_school_summary.set_index('School Name')

# Format the necessary columns
df_per_school_summary["Total Students"] = df_per_school_summary["Total Students"].map("{:,.0f}".format)
df_per_school_summary['Total School Budget'] = df_per_school_summary['Total School Budget'].map('${:,.0f}'.format)
df_per_school_summary['Per Student Budget'] = df_per_school_summary['Per Student Budget'].map('${:,.0f}'.format)
df_per_school_summary["Average Maths Score"] = df_per_school_summary["Average Maths Score"].map("{:.2f}".format)
df_per_school_summary["Average Reading Score"] = df_per_school_summary["Average Reading Score"].map("{:.2f}".format)
df_per_school_summary["% Passing Maths"] = df_per_school_summary["% Passing Maths"].map("{:.2f}%".format)
df_per_school_summary["% Passing Reading"] = df_per_school_summary["% Passing Reading"].map("{:.2f}%".format)
df_per_school_summary["% Overall Passing"] = df_per_school_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the dataframe
df_per_school_summary.sort_values("School Name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,Government,"4,976","$3,124,928",$628,72.35,71.01,91.64%,87.38%,80.08%
Cabrera High School,Independent,"1,858","$1,081,356",$582,71.66,71.36,90.85%,89.07%,80.79%
Figueroa High School,Government,"2,949","$1,884,411",$639,68.70,69.08,81.65%,82.81%,67.65%
Ford High School,Government,"2,739","$1,763,916",$644,69.09,69.57,82.44%,82.22%,67.47%
Griffin High School,Independent,"1,468","$917,500",$625,71.79,71.25,91.21%,88.49%,81.34%
Hernandez High School,Government,"4,635","$3,022,020",$652,68.87,69.19,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$248,087",$581,72.58,71.66,89.93%,88.52%,78.92%
Huang High School,Government,"2,917","$1,910,635",$655,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,"4,761","$3,094,650",$650,68.84,69.04,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$585,858",$609,72.09,71.61,91.68%,86.59%,79.21%
Rodriguez High School,Government,"3,999","$2,547,363",$637,72.05,70.94,90.80%,87.40%,79.42%
Shelton High School,Independent,"1,761","$1,056,600",$600,72.03,70.26,91.54%,86.71%,78.88%
Thomas High School,Independent,"1,635","$1,043,130",$638,69.58,69.77,83.85%,82.63%,69.48%
Wilson High School,Independent,"2,283","$1,319,574",$578,69.17,68.88,82.79%,81.30%,67.46%
Wright High School,Independent,"1,800","$1,049,400",$583,72.05,70.97,91.78%,86.67%,79.72%

In [4]:
# Revert the formatting of cells back to their original values (so can run subsequent dataframes with no issues)
df_per_school_summary["Total Students"] = df_per_school_summary["Total Students"].str.replace(',', '').astype(int)
df_per_school_summary['Total School Budget'] = df_per_school_summary['Total School Budget'].replace('[\$,]', '', regex=True).astype(float)
df_per_school_summary['Per Student Budget'] = df_per_school_summary['Per Student Budget'].replace('[\$,]', '', regex=True).astype(float)
df_per_school_summary["Average Maths Score"] = df_per_school_summary["Average Maths Score"].astype(float)
df_per_school_summary["Average Reading Score"] = df_per_school_summary["Average Reading Score"].astype(float)
df_per_school_summary["% Passing Maths"] = df_per_school_summary["% Passing Maths"].replace('%', '', regex=True).astype(float)
df_per_school_summary["% Passing Reading"] = df_per_school_summary["% Passing Reading"].replace('%', '', regex=True).astype(float)
df_per_school_summary["% Overall Passing"] = df_per_school_summary["% Overall Passing"].replace('%', '', regex=True).astype(float)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
#create new dataframe "top_schools"
df_top_schools = df_per_school_summary.sort_values(("% Overall Passing"), ascending = False)

# Format the necessary columns
df_top_schools["Total Students"] = df_top_schools["Total Students"].map("{:,.0f}".format)
df_top_schools['Total School Budget'] = df_top_schools['Total School Budget'].map('${:,.0f}'.format)
df_top_schools['Per Student Budget'] = df_top_schools['Per Student Budget'].map('${:,.0f}'.format)
df_top_schools["Average Maths Score"] = df_top_schools["Average Maths Score"].map("{:.2f}".format)
df_top_schools["Average Reading Score"] = df_top_schools["Average Reading Score"].map("{:.2f}".format)
df_top_schools["% Passing Maths"] = df_top_schools["% Passing Maths"].map("{:.2f}%".format)
df_top_schools["% Passing Reading"] = df_top_schools["% Passing Reading"].map("{:.2f}%".format)
df_top_schools["% Overall Passing"] = df_top_schools["% Overall Passing"].map("{:.2f}%".format)

df_top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Griffin High School,Independent,"1,468","$917,500",$625,71.79,71.25,91.21%,88.49%,81.34%
Cabrera High School,Independent,"1,858","$1,081,356",$582,71.66,71.36,90.85%,89.07%,80.79%
Bailey High School,Government,"4,976","$3,124,928",$628,72.35,71.01,91.64%,87.38%,80.08%
Wright High School,Independent,"1,800","$1,049,400",$583,72.05,70.97,91.78%,86.67%,79.72%
Rodriguez High School,Government,"3,999","$2,547,363",$637,72.05,70.94,90.80%,87.40%,79.42%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [6]:
#create new dataframe "bottom_schools"
df_bottom_schools = df_per_school_summary.sort_values("% Overall Passing")

# Format the necessary columns
df_bottom_schools["Total Students"] = df_bottom_schools["Total Students"].map("{:,.0f}".format)
df_bottom_schools['Total School Budget'] = df_bottom_schools['Total School Budget'].map('${:,.0f}'.format)
df_bottom_schools['Per Student Budget'] = df_bottom_schools['Per Student Budget'].map('${:,.0f}'.format)
df_bottom_schools["Average Maths Score"] = df_bottom_schools["Average Maths Score"].map("{:.2f}".format)
df_bottom_schools["Average Reading Score"] = df_bottom_schools["Average Reading Score"].map("{:.2f}".format)
df_bottom_schools["% Passing Maths"] = df_bottom_schools["% Passing Maths"].map("{:.2f}%".format)
df_bottom_schools["% Passing Reading"] = df_bottom_schools["% Passing Reading"].map("{:.2f}%".format)
df_bottom_schools["% Overall Passing"] = df_bottom_schools["% Overall Passing"].map("{:.2f}%".format)

df_bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Hernandez High School,Government,"4,635","$3,022,020",$652,68.87,69.19,80.95%,81.88%,66.36%
Huang High School,Government,"2,917","$1,910,635",$655,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,"4,761","$3,094,650",$650,68.84,69.04,82.06%,81.98%,67.19%
Wilson High School,Independent,"2,283","$1,319,574",$578,69.17,68.88,82.79%,81.30%,67.46%
Ford High School,Government,"2,739","$1,763,916",$644,69.09,69.57,82.44%,82.22%,67.47%

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
# Get unique list of school names
unique_school_names = school_data_complete["school_name"].unique()

# Create a dictionary with empty lists for each column
datam = {
    'Year 9': [],
    'Year 10': [],
    'Year 11': [],
    'Year 12': [],
}

# Iterate through each school name
for school_name in unique_school_names:
    # Filter the data for the current school
    school_data = school_data_complete[school_data_complete["school_name"] == school_name]
    
    # Filter the data for each year
    for year in range(9, 13):
        year_avg_maths = school_data[school_data["year"] == year]["maths_score"].mean()
        datam[f'Year {year}'].append(year_avg_maths)
        
# Create the dataframe using the data dictionary
df_maths_scores_by_year = pd.DataFrame(datam, index=unique_school_names)

# Format the necessary columns
df_maths_scores_by_year["Year 9"] = df_maths_scores_by_year["Year 9"].map("{:.2f}".format)
df_maths_scores_by_year["Year 10"] = df_maths_scores_by_year["Year 10"].map("{:.2f}".format)
df_maths_scores_by_year["Year 11"] = df_maths_scores_by_year["Year 11"].map("{:.2f}".format)
df_maths_scores_by_year["Year 12"] = df_maths_scores_by_year["Year 12"].map("{:.2f}".format)

# Set the 'School Name' column as the index
df_maths_scores_by_year.index.name = 'School Name'

# Display the dataframe
df_maths_scores_by_year.sort_values("School Name")

                      Year 9 Year 10 Year 11 Year 12
School Name
Bailey High School     72.49   71.90   72.37   72.68
Cabrera High School    72.32   72.44   71.01   70.60
Figueroa High School   68.48   68.33   68.81   69.33
Ford High School       69.02   69.39   69.25   68.62
Griffin High School    72.79   71.09   71.69   71.47
Hernandez High School  68.59   68.87   69.15   68.99
Holden High School     70.54   75.11   71.64   73.41
Huang High School      69.08   68.53   69.43   68.64
Johnson High School    69.47   67.99   68.64   69.29
Pena High School       72.00   72.40   72.52   71.19
Rodriguez High School  71.94   71.78   72.36   72.15
Shelton High School    72.93   72.51   70.10   72.33
Thomas High School     69.23   70.06   69.66   69.37
Wilson High School     69.21   69.46   68.38   69.79
Wright High School     71.74   72.18   73.28   70.85

## Reading Score by Year

* Perform the same operations as above for reading scores

In [8]:
# Get unique list of school names
unique_school_names = school_data_complete["school_name"].unique()

# Create a dictionary with empty lists for each column
datar = {
    'Year 9': [],
    'Year 10': [],
    'Year 11': [],
    'Year 12': [],
}

# Iterate through each school name
for school_name in unique_school_names:
    # Filter the data for the current school
    school_data = school_data_complete[school_data_complete["school_name"] == school_name]
    
    # Filter the data for each year
    for year in range(9, 13):
        year_avg_read = school_data[school_data["year"] == year]["reading_score"].mean()
        datar[f"Year {year}"].append(year_avg_read)
        
# Create the dataframe using the data dictionary
df_reading_scores_by_year = pd.DataFrame(datar, index=unique_school_names)

# Format the necessary columns
df_reading_scores_by_year["Year 9"] = df_reading_scores_by_year["Year 9"].map("{:.2f}".format)
df_reading_scores_by_year["Year 10"] = df_reading_scores_by_year["Year 10"].map("{:.2f}".format)
df_reading_scores_by_year["Year 11"] = df_reading_scores_by_year["Year 11"].map("{:.2f}".format)
df_reading_scores_by_year["Year 12"] = df_reading_scores_by_year["Year 12"].map("{:.2f}".format)

# Set the 'School Name' column as the index
df_reading_scores_by_year.index.name = 'School Name'

# Display the dataframe
df_reading_scores_by_year.sort_values("School Name")

                      Year 9 Year 10 Year 11 Year 12
School Name
Bailey High School     70.90   70.85   70.32   72.20
Cabrera High School    71.17   71.33   71.20   71.86
Figueroa High School   70.26   67.68   69.15   69.08
Ford High School       69.62   68.99   70.74   68.85
Griffin High School    72.03   70.75   72.39   69.43
Hernandez High School  68.48   70.62   68.42   69.24
Holden High School     71.60   71.10   73.31   70.48
Huang High School      68.67   69.52   68.74   68.67
Johnson High School    68.72   69.30   69.97   67.99
Pena High School       70.95   72.32   71.70   71.51
Rodriguez High School  70.90   70.14   71.42   71.41
Shelton High School    70.72   69.88   71.15   69.07
Thomas High School     69.67   69.74   70.75   68.73
Wilson High School     68.68   68.41   68.80   69.89
Wright High School     71.82   71.39   70.48   69.82

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Create a dictionary with empty lists for each column
data_spending = {
    'Average Maths Score': [],
    'Average Reading Score': [],
    '% Passing Maths': [],
    '% Passing Reading': [],
    '% Overall Passing': []
}

# Create bins and labels for spending ranges
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add a new column to the per school summary dataframe with spending ranges
df_per_school_summary["Spending Ranges (Per Student)"] = pd.cut(df_per_school_summary["Per Student Budget"], 
                                                         spending_bins, labels=spending_labels)

# Calculate mean scores per spending range
spending_math_scores = df_per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = df_per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = df_per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = df_per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = df_per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Create a dictionary with the calculated values
data_spending = {
    'Average Maths Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Maths': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
}

# Create a dataframe called "spending_summary"
df_spending_summary = pd.DataFrame(data_spending)

# Format the necessary columns
df_spending_summary["Average Maths Score"] = df_spending_summary["Average Maths Score"].map("{:.2f}".format)
df_spending_summary["Average Reading Score"] = df_spending_summary["Average Reading Score"].map("{:.2f}".format)
df_spending_summary["% Passing Maths"] = df_spending_summary["% Passing Maths"].map("{:.2f}%".format)
df_spending_summary["% Passing Reading"] = df_spending_summary["% Passing Reading"].map("{:.2f}%".format)
df_spending_summary["% Overall Passing"] = df_spending_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the spending summary table
df_spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84%,86.39%,76.72%
$585-630,72.06,71.03,91.52%,87.29%,79.88%
$630-645,69.86,69.84,84.69%,83.77%,71.00%
$645-680,68.88,69.05,81.57%,81.77%,66.75%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
# Create bins and labels for spending ranges
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add a new column to the per school summary dataframe with spending ranges
df_per_school_summary["School Size"] = pd.cut(df_per_school_summary["Total Students"], 
                                                         size_bins, labels=size_labels)

# Calculate mean scores per spending range
spending_math_scores = df_per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
spending_reading_scores = df_per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
spending_passing_math = df_per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
spending_passing_reading = df_per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing_spending = df_per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

# Create a dictionary with the calculated values
data_size = {
    'Average Maths Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Maths': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
}

# Create a dataframe called "spending_summary"
df_size_summary = pd.DataFrame(data_size)

# Format the necessary columns
df_size_summary["Average Maths Score"] = df_size_summary["Average Maths Score"].map("{:.2f}".format)
df_size_summary["Average Reading Score"] = df_size_summary["Average Reading Score"].map("{:.2f}".format)
df_size_summary["% Passing Maths"] = df_size_summary["% Passing Maths"].map("{:.2f}%".format)
df_size_summary["% Passing Reading"] = df_size_summary["% Passing Reading"].map("{:.2f}%".format)
df_size_summary["% Overall Passing"] = df_size_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the spending summary table
df_size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.34,71.63,90.81%,87.56%,79.06%
Medium (1000-2000),71.42,70.72,89.85%,86.71%,78.04%
Large (2000-5000),69.75,69.58,84.25%,83.30%,70.29%

## Scores by School Type

* Perform the same operations as above, based on school type

In [11]:
# Get the unique school types from the df_per_school_summary dataframe
school_types = df_per_school_summary["School Type"].unique()

# Create a new dataframe to hold the school type summary
df_school_type = pd.DataFrame(index=school_types)

# Add the "School Type" heading to the index column
df_school_type.index.name = "School Type"

# Calculate the mean values for each column based on school types
df_school_type["Average Maths Score"] = df_per_school_summary.groupby("School Type")["Average Maths Score"].mean()
df_school_type["Average Reading Score"] = df_per_school_summary.groupby("School Type")["Average Reading Score"].mean()
df_school_type["% Passing Maths"] = df_per_school_summary.groupby("School Type")["% Passing Maths"].mean()
df_school_type["% Passing Reading"] = df_per_school_summary.groupby("School Type")["% Passing Reading"].mean()
df_school_type["% Overall Passing"] = df_per_school_summary.groupby("School Type")["% Overall Passing"].mean()

# Format the necessary columns
df_school_type["Average Maths Score"] = df_school_type["Average Maths Score"].map("{:.2f}".format)
df_school_type["Average Reading Score"] = df_school_type["Average Reading Score"].map("{:.2f}".format)
df_school_type["% Passing Maths"] = df_school_type["% Passing Maths"].map("{:.2f}%".format)
df_school_type["% Passing Reading"] = df_school_type["% Passing Reading"].map("{:.2f}%".format)
df_school_type["% Overall Passing"] = df_school_type["% Overall Passing"].map("{:.2f}%".format)

# Display the df_school_type dataframe
df_school_type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83,69.68,84.46%,83.59%,70.70%
Independent,71.37,70.72,89.20%,86.25%,76.97%